th {
    padding: 10px;
    border: 1px solid #000000;
}

td {
    font-size: 0.8em;
    padding: 9px 9px;
    border: 1px solid #000000;
}

.first {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

table {
    border-collapse: collapse;
    line-height: 1.1;
    background: radial-gradient(farthest-corner at 50% 50%, white, #DCECF8);
}

.stil {
    border: rgb(11, 11, 11) 0.5px solid;
    color: brown;
    margin: 0 auto;
}