img {
    width: 50px
}

input {
    padding: 20px;
}

.important-item {
    color: green;
    font-size: 20px;
    border: green 1px solid;
    margin-left: 10px;
    padding: 5px;
    font-size: 25px;
}

.important-size {
    font-size: 35px;
}